################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AOEPatch/FileContentIndex/d109b033-3f55-4a5b-82c0-faf3747e0832.vsidx
