################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AOEPatch/FileContentIndex/d109b033-3f55-4a5b-82c0-faf3747e0832.vsidx
/.vs/AOEPatch/FileContentIndex/787b747d-a1e3-42d1-aaa0-365e9d5a2e88.vsidx
/.vs/AOEPatch/FileContentIndex/9ac33447-8b40-4c20-99b0-095277a15f9c.vsidx
/.vs/AOEPatch/FileContentIndex/2ae29a3f-e9f1-4603-8e05-7b34d723202e.vsidx
